ul {
 position: fixed;
 margin: 0;
 padding: 0;
 list-style: none;
 width: 100px;
 }

 ul li {
 position: relative;
 }

 li ul {
 position: absolute;
 left: 100px;
 top: 0;
 display: none;
 background-color: #EAEAEA;
 }

 ul li a {
 display: block;
 text-decoration: none;
 color: black;
 background: #fff;
 border-bottom: 0;
 padding: 15px 0 0 0;
 background-color: #EAEAEA
 }
 
.logo-image {
	position: fixed;
	padding: 15px 0 0 0;
	width: auto;
}