/*NAVBAR*/
.sidebar {
  padding-top: 10%;
  position: fixed;
  width: 150px;
  background-color: #EAEAEA;
  height: 100vh;
}

.logo-image-top {
  position: fixed;
  margin: 50px 0 0 0;
  padding-left: 10px;
}

.logo-image-bottom {
  position: fixed;
  margin: 0;
  padding-left: 10px;
}

.menu {
  padding-top: 80%;
  font-size: 16px;
}

.selected {
	color: #61ABEC;
	font-weight: 700;
}

.menu, .submenu {
  list-style: none;
  margin: 0;
  padding: none;
}

.menu a {
  display: block;
  text-decoration: none;
  padding: 10px;
  color: #000;
}

.menu a:hover {
    background-color: #C5C5C5;
}

.menu li:hover .submenu {
  display: block;
  max-height: 200px;
}

.submenu a {
  background-color: #999;
}

.submenu a:hover {
  background-color: #666;
}

.submenu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
}
/* END NAVBAR CSS */