h2 {	
	margin: none;
	padding: 40px 0 0 0;
	font-weight: 700;
	/* how do i clear the predetermined style? for example, font-weight 700 won't work since (i'm guessing) the stylesheet imported some styles */
	color: #61ABEC;
}

.hover-bold:hover {
	font-weight: 600;
}

.about-pic {
}