h2 {	
	margin: 45px 0 40px 0;
}

.col.s7 {
	padding-left: 0;
}

.col.s4 {
	padding-left: 50px;
	padding-right: 0;
}

#contact {
	font-size: 18px;
}

form.col.s12, div.input-field.col.s12 {
	padding-left: 0;
}

div.row {
	margin-bottom: 0;
}

#name:focus, #email:focus, #subject:focus, #message:focus {
	border-bottom: 2px solid #61ABEC;
	box-shadow: none;
}

.contact-info {
	padding: 0 0 15px 0;
	margin-bottom: 15px;
}

.material-icons{
    display: inline-flex;
    vertical-align: top;
}

.hover-bold:hover {
	font-weight: 600;
}