h2 {	
	margin: none;
	padding: 20px 0 0 0;
}

#contact {
	font-size: 25px;
}

.contact-info {
	padding: 20px 0 0 0;
}

.material-icons{
    display: inline-flex;
    vertical-align: top;
}

.hover-bold:hover {
	font-weight: 600;
}