h2 {	
	margin: 45px 0 40px 0;
}

.card {
	margin-right: 25px;
	box-shadow: none;
}

.project-menu {
	font-weight: 400;
	color: black;
}

.hover-bold:hover {
	font-weight: 600;
}

.card-content {
	font-size: 16px;
	text-align: center;
}

.card .card-content {
	padding: 15px 10px 15px 10px;
}

.card-action {
	text-align: center;
}

h6 {
	color: #61ABEC;
	font-weight: 600;
	font-size: 18px;
}

p {
	font-size: 14px;
}