#home {
	border: 1px solid #A2A2A2;
	padding: 0 30px 225px 30px;	
	text-align: center;
	width: 300px;
	height: 200px;
	margin: 250px 0 0 35%;
	position: static;
}

body {
	background-image: url(file:///Users/isabellacain/Desktop/GA/GitHub/final_portfolio/placeholder4.jpg);
	background-position: center;
	background-size: cover;
}

.col.s10 {
	height: 100%;
}

.hover-bold:hover {
	font-weight: 600;
}