#home {
	border: 1px solid #A2A2A2;
	padding: 0 15px 25px 15px;	
	text-align: center;
	width: 55%;
	margin: 250px 20% 25% 18%;
	/*center this vertically */
}

body {
	background-image: url(file:///Users/isabellacain/Desktop/GA/GitHub/final_portfolio/placeholder4.jpg);
	background-position: center;
	background-size: cover;
}

.hover-bold:hover {
	font-weight: 600;
}