body {
	font-family: sans-serif;
	background-color: #EAEAEA;
	font-family: "Rajdhani", sans-serif;
}

.page {
	background-color: #EAEAEA;
	font-size: 16px;
}

h2 {
  font-weight: 500;
  color: #61ABEC;
}


/*NAVBAR*/
.sidebar {
  padding-top: 10%;
  position: fixed;
  width: 150px;
  background-color: #EAEAEA;
  height: 100vh;
}

.logo-image-top {
  position: fixed;
  margin: 50px 0 0 0;
  padding-left: 20px;
}

.logo-image-bottom {
  position: fixed;
  margin: 0;
  padding-left: 20px;
}

.menu {
  padding-top: 80%;
  font-size: 16px;
}

.selected {
	color: #61ABEC;
	font-weight: 700;
}

.menu, .submenu {
  list-style: none;
  margin: 0;
  padding: none;
}

.menu a {
  display: block;
  text-decoration: none;
  padding: 10px 10px 10px 20px;
  color: #000;
}

.menu a:hover {
  background-color: #C5C5C5;
}

.menu li:hover .submenu {
  display: block;
  max-height: 200px;
}

.submenu a {
  background-color: #999;
}

.submenu a:hover {
  background-color: #666;
}

.submenu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
}

.page-footer {
  background-color: #EAEAEA;
  color: black;
  padding-left: 20px;
  margin-top: 120px;
  position: static;
}
/* END NAVBAR CSS */



/*MOBILE LAYOUT*/
@media (max-width: 400px) {
  /*SIDEBAR & MENU */
  .sidebar {
    float: left;
    position: fixed;
    width: 105px;
  }
  div.menu {
    padding: 170px 0 0 0;
    position: fixed;
  }
  .menu a {
    padding-left: 10px;
  }
  .logo-image-top {
    position: fixed;
    padding-left: 10px;
    margin: 100px 0 0 0;
  }
  .logo-image-bottom {
    position: fixed;
    padding-left: 10px;
    margin: 430px 0 0 0;
  }
  .page-footer {
    position: fixed;
    padding-left: 10px;
    margin-top: 580px;
  }
  /*END SIDEBAR & MENU FOR MOBILE*/

  #home {
    margin: 180px 0 0 85px;
    height: 300px;
    width: 175px;
  }
  
  #about {
    padding-left: 40px;
  }
  .about-pic {
    width: 200px;
    height: 200px;
    padding: 0 0 0 0;
    float: left;
  }
  /*  fix pic position - it won't reposition for me!! :( */  
  #about-text {
    padding-top: 275px;
    width: 230%;
  }
  
  #photography {
    padding-left: 40px;
  }
  .carousel .carousel-item {
    height: 400px;
    width: 220px;
  }  
  
  #design {
    padding-left: 40px;
    display: block;
  }
  /* fix card layout -- display: block; won't work! */
  .card.small {
    width: 200px;
    height: auto;
  }
  .row .col.s4{
    width: 100%;
  }
  /* fix!! */
  
  #project1 {
    padding-left: 40px;
    width: 140%;
  /* fix text and photo layout */
  } 
  #project2 {
    padding-left: 40px;
    width: 140%;
  } 
  #project3 {
    padding-left: 40px;
    width: 140%;
  } 
  #project4 {
    padding-left: 40px;
    width: 140%;
  } 
  #contact {
    padding-left: 40px;
  }
  /* mail icon inline with email address; smaller font */
}
/*END MOBILE LAYOUT CSS */