body {
	font-family: sans-serif;
	background-color: #EAEAEA;
	font-family: "Rajdhani", sans-serif;
}

.page {
	margin-top: 25px;
	background-color: #EAEAEA;
	font-size: 16px;
}



/*NAVBAR*/
.selected {
	color: #61ABEC;
	font-weight: 700;
}

.sidebar {
	position: fixed;
  width: 150px;
  background-color: #EAEAEA;
  height: 100vh;
}

.menu {
	padding-top: 250px;
	font-size: 16px;
}

.menu, .submenu {
  list-style: none;
  margin: 0;
  padding: none;
}

.menu a {
  display: block;
  text-decoration: none;
  padding: 10px;
  color: #000;
}

.menu a:hover {
    background-color: #C5C5C5;
}

.menu li:hover .submenu {
  display: block;
  max-height: 200px;
}

.submenu a {
  background-color: #999;
}

.submenu a:hover {
  background-color: #666;
}

.submenu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
}

.logo-image {
	position: fixed;
	margin: 80px 0 0 0;
	padding-left: 10px;
}
/* UPLOAD NEW LOGO IMAGE!! */

/* END NAVBAR CSS */



/*MOBILE LAYOUT*/
@media (max-width: 400px) {
  .sidebar {
    float: left;
    position: fixed;
    width: 100px;
  }
  .menu {
    position: fixed;
  }
  #home {
    float: right;
  }
  /*fix top margin height -- how?? */
  #about {
    padding-left: 40px;
  }
  .about-pic {
    max-width: 100px;
  }
  /*  fix pic size & position - it won't resize for me!! :( */  
  #about-text {
    padding-top: 275px;
    width: 230%;
  }
  #photography {
    padding-left: 40px;
  }
  /*  resize header size */  
  #design {
    padding-left: 40px;
    display: block;
  }
  /* fix card layout -- display: block; won't work! */
  .card.small {
    width: 200px;
    height: auto;
  }
  #project1 {
    padding-left: 40px;
  /* fix text and photo layout */
  } 
  #project2 {
    padding-left: 40px;
  } 
  #project3 {
    padding-left: 40px;
  } 
  #project4 {
    padding-left: 40px;
  } 
  #contact {
    padding-left: 40px;
  }
  /* mail icon inline with email address; smaller font */
}
/*END MOBILE LAYOUT CSS */