h2 {	
	margin: none;
	padding: 20px 0 0 0;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 22px;
	color: #61ABEC;
}

h6 {
	font-size: 18px;
	color: #61ABEC;
	padding: none;
}

.col.s4 {

}

.li{
	/*text-indent: 5em;*/
}

.hover-bold:hover {
	font-weight: 600;
}