h2 {	
	margin: 49px 0 44px 0;
}

h4 {
	margin: 0;
	font-size: 22px;
	line-height: 140%;
}

h5 {
	font-size: 20px;
	color: #61ABEC;
}

h6 {
	font-size: 18px;
	color: #61ABEC;
	padding: none;
}

.col.s4 {

}

.li{
	/*text-indent: 5em;*/
}

.hover-bold:hover {
	font-weight: 600;
}